In [42]:

import pandas as pd
import sqlite3
from datetime import datetime

def get_date_df(date):
    date_str = date.strftime("%Y-%m-%d")
    con = sqlite3.connect('../data/db.sqlite3')
    select_df = pd.read_sql_query('SELECT * from sample_tb WHERE \''+ date_str + ' 23:00\' < ttn_received_at AND ttn_received_at < \'' + date_str + ' 23:59\'', con)
    con.close()
    return select_df

date = datetime(2023, 1, 23)
date_df = get_date_df(date)

date_df = date_df[['ttn_device_id', 'ttn_received_at', 'ttn_payload_temp', 'ttn_payload_rh', 'ttn_payload_pm1_0', 'ttn_payload_pm2_5', 'ttn_payload_pm10_0']]
date_df

,ttn_device_id,ttn_received_at,ttn_payload_temp,ttn_payload_rh,ttn_payload_pm1_0,ttn_payload_pm2_5,ttn_payload_pm10_0
0,eui-70b3d57ed0059066,2023-01-23 23:03:50.122912,29.29,64.09,4.0,6.0,6.0
1,eui-70b3d57ed0059066,2023-01-23 23:18:50.146435,29.29,64.00,4.0,6.0,8.0
2,eui-70b3d57ed0059066,2023-01-23 23:33:50.197491,29.29,64.09,4.0,6.0,9.0
3,eui-70b3d57ed0059066,2023-01-23 23:48:50.219365,29.29,64.30,4.0,6.0,6.0

In [43]:

def apply_func(ttn_received_at):
	return datetime.fromisoformat(str(ttn_received_at))
date_df['new'] = date_df.apply(lambda x: apply_func(x['ttn_received_at']), axis=1)
date_df

,ttn_device_id,ttn_received_at,ttn_payload_temp,ttn_payload_rh,ttn_payload_pm1_0,ttn_payload_pm2_5,ttn_payload_pm10_0,new
0,eui-70b3d57ed0059066,2023-01-23 23:03:50.122912,29.29,64.09,4.0,6.0,6.0,2023-01-23 23:03:50.122912
1,eui-70b3d57ed0059066,2023-01-23 23:18:50.146435,29.29,64.00,4.0,6.0,8.0,2023-01-23 23:18:50.146435
2,eui-70b3d57ed0059066,2023-01-23 23:33:50.197491,29.29,64.09,4.0,6.0,9.0,2023-01-23 23:33:50.197491
3,eui-70b3d57ed0059066,2023-01-23 23:48:50.219365,29.29,64.30,4.0,6.0,6.0,2023-01-23 23:48:50.219365

In [ ]:

def apply_func(ttn_received_at):
	return datetime.fromisoformat(str(ttn_received_at))
date_df['new'] = date_df.apply(lambda x: apply_func(x['ttn_received_at']), axis=1)
date_df

,ttn_device_id,ttn_received_at,ttn_payload_temp,ttn_payload_rh,ttn_payload_pm1_0,ttn_payload_pm2_5,ttn_payload_pm10_0,new
0,eui-70b3d57ed0059066,2023-01-23 23:03:50.122912,29.29,64.09,4.0,6.0,6.0,2023-01-23 23:03:50.122912
1,eui-70b3d57ed0059066,2023-01-23 23:18:50.146435,29.29,64.00,4.0,6.0,8.0,2023-01-23 23:18:50.146435
2,eui-70b3d57ed0059066,2023-01-23 23:33:50.197491,29.29,64.09,4.0,6.0,9.0,2023-01-23 23:33:50.197491
3,eui-70b3d57ed0059066,2023-01-23 23:48:50.219365,29.29,64.30,4.0,6.0,6.0,2023-01-23 23:48:50.219365

In [35]:
date_dicts = date_df.to_dict('records')
date_df.to_dict('records')

[{'ttn_device_id': 'eui-70b3d57ed0059066',
  'ttn_received_at': '2023-01-23 23:03:50.122912',
  'ttn_payload_temp': 29.29,
  'ttn_payload_rh': 64.09,
  'ttn_payload_pm1_0': 4.0,
  'ttn_payload_pm2_5': 6.0,
  'ttn_payload_pm10_0': 6.0},
 {'ttn_device_id': 'eui-70b3d57ed0059066',
  'ttn_received_at': '2023-01-23 23:18:50.146435',
  'ttn_payload_temp': 29.29,
  'ttn_payload_rh': 64.0,
  'ttn_payload_pm1_0': 4.0,
  'ttn_payload_pm2_5': 6.0,
  'ttn_payload_pm10_0': 8.0},
 {'ttn_device_id': 'eui-70b3d57ed0059066',
  'ttn_received_at': '2023-01-23 23:33:50.197491',
  'ttn_payload_temp': 29.29,
  'ttn_payload_rh': 64.09,
  'ttn_payload_pm1_0': 4.0,
  'ttn_payload_pm2_5': 6.0,
  'ttn_payload_pm10_0': 9.0},
 {'ttn_device_id': 'eui-70b3d57ed0059066',
  'ttn_received_at': '2023-01-23 23:48:50.219365',
  'ttn_payload_temp': 29.29,
  'ttn_payload_rh': 64.3,
  'ttn_payload_pm1_0': 4.0,
  'ttn_payload_pm2_5': 6.0,
  'ttn_payload_pm10_0': 6.0}]